body {
  background-image: url("../images/ab1\ \(8\).jpg");

  height: 100vh;
}

.jumbotron {
  height: 650px;
  width: 50%;

  border-radius: 15px;
  align-content: center;
  background: none;
}

#mainCont {
  display: flex;
  justify-content: center;
  
}

.container {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
}

li {
  font-size: 30px;
}
.quizCard,
.quizQuestion {
  font-size: 30px;
  cursor: pointer;
}

#quizQuestion:hover {
  background-color: rgb(243, 243, 243);
  opacity: 0.85;
}

.clearli {
  background-color:none;
}

#title {
  font-size: 50px;
}

.time {
  font-size: 25px;
}

.btn {
  margin-top: 25px;
  width: 25%;
}
.card {
  background: none;
}

.answer {
  height: 75px;
  color: black;
  font-size: 25px;
}

#question {
  font-size: 30px;
}

li:hover {
  background-color: blanchedalmond;
}

.nav-menu:hover {
  display: flex;
}

.nav-menu {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}



.time {
  font-size: 30px;
  background-color:whitesmoke;
  width: 230px;
}
