body {
  background-image: url("../images/trivia-money-for-winners.jpg");

  height: 100vh;
}

.jumbotron {
  height: 650px;
  width: 50%;

  border-radius: 15px;
  align-content: center;
  background: none;
}

#mainCont {
  display: flex;
  justify-content: center;
  margin: 0,auto;
}

.container {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
}

li {
  font-size: 30px;
}



.quizCard,
.quizQuestion {
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 15px;
  text-align: center;
}

.quizCard{margin: 0, auto;}
#quizQuestion:hover {
  background-color: rgb(243, 243, 243);
  opacity: 0.85;
}

.clearli {
  background-color:none;
}

#title {
  font-size: 50px;

  margin-top: 50px;
  margin-right: 169px;
}



.resultAns{
 font-size: 25px;
  width:450px; 
  text-align: center;
 
  }
.btn {
  margin-top: 25px;
  width: 25%;
}
.card {
  background: whitesmoke;
  opacity: 0.9;
  width: 100%;
  position: relative; 
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
  border-color:gray;
  border-style: solid;
  border-width: 1px;
}

.answer {
  height: 75px;
  color: black;
  font-size: 25px;
}

#question {
  font-size: 30px;
  margin-bottom: 15px;
}

li:hover {
  background-color: blanchedalmond;
}

.nav-menu:hover {
  display: flex;
  
}

.nav-menu {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: white;
  opacity: .90 ;
  border-radius: 15px;
  width : 100%;
  border-color:gray;
  border-style: solid;
  border-width: 1px;
}

.hide {
  display: none;
}



.time {
  font-size: 30px;
  background-color:whitesmoke;
  width: 230px;
  text-align: center;
}
